header {
    background-color: #2a9d8f;
    padding: 15px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    font-size: 18px;
    display: inline-block;
    transition: 0.3s;
    border-bottom: 3px solid transparent;
}

nav a:hover {
    color: #ff6b6b;
    border-bottom: 3px solid white;
}